/* --------------------------------------------------GLOBAL */

html,
body {
  overflow: hidden;
}

#backgroundImg{
  position: absolute;
  left:0;
  top:0;
  z-index: -200;
  opacity: 0;
}

#backgroundImg.show{
  opacity: 1;
  transition: 1.5s;
  z-index: -200;
}

#spinnerHolder{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spinner{
  transform: scale(0.5);
}

#spinner.hide{
  z-index: -100;
  opacity: 0;
}

/* --------------------------------------------------FONTS */

li, h2, h3, p{
  font-family: 'Oswald', sans-serif;
}

li.cityListItem {
  font-size: 18px;
}

li.countryListItem {
  font-size: 19px;
}

#citiesVisited{
  font-weight: bold;
}

#outerFrame {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

#frame {
  position: absolute;
  margin-top: 75px;
  height: 150px;
  width: 550px;
  background-color: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  transition: height 0.7s;
  box-shadow: 1px 1px 35px black;
  overflow: hidden;
  opacity: 0;
}

#frame.show {
  opacity: 1;
  transition: .3s;
}

#frame.open {
  height: 520px;
  transition: height 0.5s;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

#header h1 {
  font-size: 80px;
}

/* ----------------------------------------------------------SIDEBAR */

#sidebar {
  position: absolute;
  top: 150px;
  left: 0;
  height: 400px;
  width: 200px;
}

#countryHeader {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#countryHeader:hover {
  color: white;
}

/* -------------------------------------------CENTER PAGE */

#centerPage {
  position: absolute;
  left: 200px;
  top: 150px;
  bottom: 0;
  right: 0;
}

#cityHeader {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#cityHeaderH2 {
  transform: scale(0);
  transition: transform 0.3s;
}

#cityHeaderH2.show {
  transform: scale(1);
  transition: transform 0.3s;
}

#cityListHolder {
}

/* ---------------------------------------------------------LISTS */

li {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  margin: 10px;
  transform: scale(0);
  transition: transform 0.3s;
}
li.show {
  transform: scale(1);
  transition: transform 0.3s;
}

li:hover {
  box-shadow: 3px 2px 5px black;
}
li.active {
  box-shadow: 3px 2px 5px black;
}

#countryOl {
}

ul {
}

/* --------------------------------------------------------------MODAL */

#modalHolder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cityModal {
  position: absolute;
  z-index: 150;
  width: 400px;
  height: 250px;
  background-color: white;
  border: 3px solid black;
  transform: translateY(-250%);
  transition: transform 0.3s;
}

.cityModal.open {
  transform: translateY(0);
  transition: transform 0.3s;
}

#modalWindowHeader {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

#modalCloseBtnHolder {
  position: absolute;
  top: 0;
  width: 40px;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#closeModalBtn {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  transition: box-shadow 0.3s;
  outline: none;
}

#closeModalBtn:hover {
  box-shadow: 3px 2px 4px grey;
  transition: box-shadow 0.3s;
}

#modalContainer {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modalHeader {
  position: absolute;
  width: 80%;
  top: 0px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modalContent {
  position: absolute;
  width: 90%;
  top: 70px;
  height: 170px;
  display: grid;
}

#countryVisitedBtn {
}

.visited {
  transition: background-color 0.3s;
  background-color: red;
}

#inputHolder {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#checkBoxComment {
  margin-top: -10px;
}

.backDrop {
  transform: translateY(-220%);
  background-color: black;
  opacity: 0.6;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.backDrop.show {
  transform: translateY(0);
}

/* ---------------------------------------------BORDERS */

#sidebarVerticalBorder {
  margin-top: -50px;
  position: absolute;
  right: 0;
  width: 3px;
  height: 0;
  background-color: black;
  transition: height 0.7s;
}

#sidebarVerticalBorder.show {
  height: 400px;
  transition: height 0.7s;
}

#headerBottomBorder {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: black;
  margin-left: -20px;
  transition: width 0.7s;
}

#headerBottomBorder.show {
  width: 530px;
  transition: width 0.7s;
}

/* -----------------------------------------------------------INFOBOX */

#cityListHolder {
  overflow-x: scroll;
  height: 400px;
}

#cityListInfoHolder {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cityListInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  margin-left: 20px;
  padding: 20px;
  width: 70%;
  transform: scale(0);
  transition: transform 0.3s;
  box-shadow: 3px 2px 3px grey;
}

#cityListInfoContainer.show {
  transform: scale(1);
  transition: transform 0.3s;
}

#clearHistoryBtn {
  background-color: red;
}
